<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >Social UI</a
    >
    <a class="navbar-brand" routerLink="/errors" routerLinkActive="active"
      >Test Errors</a
    >

    <ul *ngIf="accountService.isLoggedIn$ | async" class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link px-2" routerLink="/members" routerLinkActive="active"
          >Matches</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" routerLink="/lists" routerLinkActive="active"
          >Lists</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link px-2"
          routerLink="/messages"
          routerLinkActive="active"
          >Messages</a
        >
      </li>
    </ul>

    <!-- <div
      *ngIf="accountService.isLoggedIn$ | async"
      class="dropdown"
      dropdown
      style="cursor: pointer"
    >
      <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle
        >Welcome {{ accountService.loggedInUser$ | async }}</a
      >
      <div *dropdownMenu class="dropdown-menu">
        <a class="dropdown-item">Edit Profile</a>
        <a (click)="logout()" class="dropdown-item">Logout</a>
      </div>
    </div> -->

    <div
      *ngIf="accountService.currentUser$ | async as user"
      class="dropdown"
      dropdown
      style="cursor: pointer"
    >
      <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle
        >Welcome {{ user.userName | titlecase }}</a
      >
      <div *dropdownMenu class="dropdown-menu">
        <a class="dropdown-item">Edit Profile</a>
        <a (click)="logout()" class="dropdown-item">Logout</a>
      </div>
    </div>

    <div *ngIf="accountService.isLoggedOut$ | async" class="text-end">
      <button
        (click)="loginPage()"
        class="btn btn-outline-light me-2"
        type="button"
      >
        Login
      </button>
      <button (click)="registerPage()" class="btn btn-warning" type="button">
        Register
      </button>
    </div>
  </div>
</nav>
