<main class="form-signin">
  <form [formGroup]="form" (submit)="register()">
    <h1 class="h3 mb-3 fw-normal">Register</h1>

    <div class="form-floating">
      <input
        formControlName="userName"
        type="text"
        class="form-control"
        placeholder="John Doe"
      />
      <label for="floatingInput">Name</label>
    </div>
    <!-- <div class="form-floating">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email</label>
    </div> -->
    <div class="form-floating">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>

    <!-- <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button> -->
    <button class="w-100 btn btn-lg btn-primary" type="submit">
      <!-- <span
        class="spinner-border spinner-border-sm"
        style="width: 1rem; height: 1rem"
        role="status"
        aria-hidden="true"
      ></span> -->
      <span>Register</span>
    </button>
  </form>
</main>
